---
title: GitLab with Git Basics Training
suppress_header: true
description: "GitLab with Git Basics Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_basics" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:00a
                  %td GitLab Overview
                  %td
                    %ul
                      %li What is GitLab?
                      %li Sequential DevOps vs. Concurrent DevOps
                      %li GitLab Flows
                      %li GitLab Recommended Process
                      %li GitLab Components
                      %li <strong>Demo</strong>: GitLab Features
                %tr
                  %td 10:00 - 10:45a
                  %td GitLab Components & Navigation
                  %td
                    %ul
                      %li GitLab Organization
                      %li GitLab Epics
                      %li Issue: The Starting Point for your workflow
                      %li GitLab Workflow Example
                      %li <strong>Demo</strong>: GitLab Components
                      %li <strong>Lab</strong>: Create a Project & Issue
                %tr
                  %td 11:00a - 1:00p
                  %td Git Basics
                  %td
                    %ul
                      %li What is Git?
                      %li Centralized vs. Distributed VCS Architecture
                      %li Git Key Terms
                      %li Why Git Is So Popular
                      %li Common Commands
                      %li Basic Git Workflow within GitLab
                      %li <strong>Demo</strong>: Working Locally with Git
                      %li <strong>Lab</strong>: Working Locally with Git
      .col-md-12
        %h3 Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:45a
                  %td Basic Code Creation in GitLab
                  %td
                    %ul
                      %li Code Review: Typical Workflow
                      %li Code Review Workflow- GitLab Tools To Use
                      %li Additional Tools for Working With Code
                      %li <strong>Demo</strong>: Merge Request in GitLab
                      %li <strong>Demo</strong>: Assigning, Reviewing, & Approving in GitLab
                      %li <strong>Demo</strong>: Additional Tools For Working With code
                      %li <strong>Lab</strong>: Use GitLab to Write Code
                %tr
                  %td 11:00a - 12:00p
                  %td GitLab's CI/CD Functions
                  %td
                    %ul
                      %li What is CI/CD?
                      %li CI/CD Advantages
                      %li GitLab Flow
                      %li GitLab CI/CD Key Ingredients
                      %li Anatomy of a CI/CD Pipeline
                      %li <strong>Demo</strong>: CI/CD Examples
                      %li <strong>Lab</strong>: Building a CI/CD pipeline
                %tr
                  %td 12:00p - 12:30p
                  %td GitLab's Package & Release Features
                  %td
                    %ul
                      %li What are Package & Container Registries?
                      %li Release Features in GitLab
                      %li What is Auto DevOps?
                      %li <strong>Demo</strong>: Auto DevOps & Interactive Web Terminal
                      %li <strong>Lab</strong>: Auto DevOps
                %tr
                  %td 12:30p - 1:00p
                  %td GitLab Security Scanning
                  %td
                    %ul
                      %li <strong>Demo</strong>: Using Static Application Security Testing
                      %li <strong>Lab</strong>: Running a SAST Scan & Viewing the Results

        <a href='https://drive.google.com/file/d/1JhnJN51BM_T6133V0pXoeK5f7DCeBkZM/view?usp=sharing'> Download the syllabus</a>
        = partial "includes/services/requirements", locals: { id: "training_sessions_basics" }
