.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 The DevOps platform that simplifies DevSecOps  
    %p
      %strong

      %p
      GitLab is known for industry-leading Source Code Management (SCM) and Continuous Integration (CI). Developers want to use GitLab. We make it easy to include security and compliance. Focus on apps, not tool maintentnance, while improving collaboration and transparency for one predictable cost. GitLab has security and governance built-in.
      %ul
        %li  
          %strong Application security testing and remediation.
          With every code commit, GitLab provides actionable vulnerability 
          %a{ href: "https://docs.gitlab.com/ee/user/application_security/"}
            findings to developers 
          while helping security pros 
          %a{ href: "https://docs.gitlab.com/ee/user/application_security/security_dashboard/#gitlab-security-dashboards-and-security-center"}
            manage remaining vulnerabilities 
          through resolution.
        %li
          %strong Cloud Native Application Protection.
          GitLab helps you monitor and 
          %a{ href: "https://docs.gitlab.com/ee/user/project/clusters/protect/"}
            protect 
          your deployed applications.
        %li
          %strong Policy Compliance and Auditability.
          GitLab’s MR approvals, end-to-end transparency of who changed what, when, and where, along with a compliance dashboard and 
          %a{ href: "https://docs.gitlab.com/ee/administration/compliance.html"}
            common controls 
          help you meet your  
          %a{ href: "https://about.gitlab.com/solutions/compliance/"}
            compliance needs.
        %li
          %strong SDLC Platform Security.
          See how we 
          %a{ href: "https://about.gitlab.com/security/"}
            secure the GitLab software.
%hr.divider
